<nav class="navbar navbar-expand-lg " style="background-color: #191C24">
  <div class="container-fluid">
    <a href="/" class="d-flex text-white text-decoration-none ms-auto">
      <div class="text-light "></div> <span class="ms-lg-5 ms-sm-0">Aftas Club</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <div>

        </div>
        <div class="form d-flex justify-content-center align-items-center">
          <div>
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search anything...">
          </div>

          <button class="btn btn-outline-light ms-2"> search</button>
        </div>
      </ul>

    </div>
  </div>
</nav>
