.form{
  position: relative;
}

.form .fa-search{
  position: absolute;
  top:12px;
  left: 12px;
  color: #9ca3af;
}


.left-pan i{
  padding-left: 10px;
}

.form-input{
  width: 500px;
  height: 40px;
  border: none;
  border-bottom: white solid 1px;
  border-radius: 0;
}

.form-input:focus{
  box-shadow: none;
  border:none;
}
.search-btn{
  background-color: #892c5a !important;
  width: 120px;
  border: none;
  font-weight: normal;
}
