<div class="container-fluid" style=" background-color: transparent !important;">

  <div class="row d-flex justify-content-between align-items-center my-4">
    <div class="col-md-3">
      <p class="my-auto fs-3 text-white">Members</p>
    </div>

    <button class="btn btn-light border-0 text-white" style="width: 150px; background-color: #892c5a"><span><i class="fas fa-plus me-2" style="font-size: 12px"></i></span>Add Member</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th class="text-center" scope="col">Membership N°</th>
          <th class="text-center" scope="col">Accession Date</th>
          <th class="text-center" scope="col">Family Name</th>
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Nationality</th>
          <th class="text-center" scope="col">Identity Document</th>
          <th class="text-center" scope="col">Identity Number</th>
          <th class="text-center" scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row">
          <td class="text-center">1</td>
          <td class="text-center"><a>2023 December 12</a></td>
          <td class="text-center">BEHJA</td>
          <td class="text-center">Oumaima</td>
          <td class="text-center">Moroccan</td>
          <td class="text-center">CIN</td>
          <td class="text-center">HA216295</td>
          <td class="text-center"><a href="" class="more">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
