<div class="container-fluid">

  <div class="row align-items-center mt-3 mb-5" style=";">
    <div class="col-md-7">

      <div class="banner-title text-center mb-4">
        <p style="color:#892c5a ">Innovate with AFTAS : Empowering the Jury Dashboard</p>
      </div>

      <div class="banner-text text-center text-white">
        <p>Seamlessly manage members, orchestrate competitions, and spotlight podium achievements. </p>
        <p>Explore possibilities,add members effortlessly, oversee competitions, and witness </p>
        <p>excellence on the podium. Navigate, inspire, and shape success with AFTAS Club Jury </p>
        <p>Dashboard—an intersection of technology and tradition.</p>
      </div>


    </div>
    <div class="col-md-5 banner">

    </div>


  </div>

  <div class="row my-3">
    <div class="col-md-3">
      <div class="card px-3 mb-3" style="background-color: #191C24 !important; color: white">
        <div class="card-body">
          <p class="card-title mb-4">Members</p>
          <p class="card-text text-end">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card px-3 mb-3" style="background-color: #191C24 !important; color: white">
        <div class="card-body">
          <p class="card-title mb-4">Competitions</p>
          <p class="card-text text-end">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card px-3 mb-3" style="background-color: #191C24 !important; color: white">
        <div class="card-body">
          <p class="card-title mb-4">Admins</p>
          <p class="card-text text-end">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card px-3 mb-3" style="background-color: #191C24 !important; color: white">
        <div class="card-body">
          <p class="card-title mb-4">Hunting's</p>
          <p class="card-text text-end">0</p>
        </div>
      </div>
    </div>

  </div>
</div>
